In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [32]:
df= pd.read_csv("sap_storing_data_hu_project.csv", low_memory=false)

C:\Users\maste\AppData\Local\Temp\ipykernel_8508\778189414.py:1: DtypeWarning: Columns (0,11,19,21,24,25,27,32,33,36,37,38,39,40,46,47,48,49,51,53,55,56,60,73,75,78,80,82,83,86,87,91,95,99,102,103,104,107,108,109,110,111,112,113,116,118,119,120,121,122,123,124,129) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("sap_storing_data_hu_project.csv")

In [62]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_mon_begin_ddt,stm_sap_meldtekst,stm_mon_toelichting_trdl,stm_oh_pg_mld,stm_geo_mld,stm_geo_mld_uit_functiepl,stm_equipm_nr_mld,stm_equipm_soort_mld,stm_equipm_omschr_mld,stm_km_van_mld,stm_km_tot_mld,stm_prioriteit,stm_scenario_mon,stm_status_melding_sap,stm_mon_nr_status_omschr,stm_mon_nr__statuscode,stm_mon_nr_status_wijzdd,stm_aanngeb_ddt,stm_aanntpl_ddt,stm_oh_pg_gst,stm_geo_gst,stm_geo_gst_uit_functiepl,stm_equipm_nr_gst,stm_equipm_soort_gst,stm_equipm_omschr_gst,stm_objectdl_code_gst,stm_objectdl_groep_gst,stm_km_van_gst,stm_km_tot_gst,stm_progfh_in_ddt,stm_progfh_in_invoer_ddt,stm_progfh_gw_ddt,stm_progfh_gw_lwd_ddt,stm_progfh_hz,stm_oorz_groep,stm_oorz_code,stm_oorz_tkst,stm_veroorz_groep,stm_veroorz_code,stm_veroorz_tekst_kort,stm_effect,stm_afspr_aanvangddt,stm_fh_ddt,stm_fh_status,stm_sap_storeind_ddt,stm_mon_eind_ddt,stm_mon_vhdsincident,stm_tao_indicator,stm_tao_indicator_vorige,stm_tao_soort_mutatie,stm_tao_telling_mutatie,stm_tao_beinvloedbaar_indicator,stm_evb,stm_dir_betrok_tr,stm_aangelegd_dd,stm_aangelegd_tijd,stm_sap_melddatum,stm_sap_meldtijd,stm_mon_begindatum,stm_mon_begintijd,stm_contractgeb_mld,stm_functiepl_mld,stm_techn_mld,stm_contractgeb_gst,stm_functiepl_gst,stm_techn_gst,stm_aanngeb_dd,stm_aanngeb_tijd,stm_aanntpl_dd,stm_aanntpl_tijd,stm_arbeid,stm_progfh_in_datum,stm_progfh_in_tijd,stm_progfh_in_invoer_dat,stm_progfh_in_invoer_tijd,stm_progfh_in_duur,stm_progfh_gw_datum,stm_progfh_gw_tijd,stm_progfh_gw_lwd_datum,stm_progfh_gw_lwd_tijd,stm_progfh_gw_duur,stm_progfh_gw_teller,stm_afspr_aanvangdd,stm_afspr_aanvangtijd,stm_fh_dd,stm_fh_tijd,stm_fh_duur,stm_reactie_duur,stm_sap_storeinddatum,stm_sap_storeindtijd,stm_mon_eind_datum,stm_mon_eind_tijd,stm_controle_dd,stm_akkoord_mon_toewijz,stm_status_sapnaarmon,stm_fact_jn,stm_akkoord_melding_jn,stm_afsluit_ddt,stm_afsluit_dd,stm_afsluit_tijd,stm_rec_toegev_ddt,stm_hinderwaarde,stm_actie,stm_standplaats,stm_status_gebr,stm_wbi_nummer,stm_projnr,stm_oorz_tekst_kort,stm_historie_toelichting,stm_schade_verhaalb_jn,stm_schadenr,stm_schade_status_ga,stm_schade_statusdatum,stm_relatiervo_vorig,stm_relatiervo_volgend,stm_relatiervo,stm_pplg_van,stm_pplg_naar,stm_dstrglp_van,stm_dstrglp_naar,stm_afspr_func_hersteldd,stm_afspr_func_hersteltijd,stm_sorteerveld,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,0,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2014,07/05/2014 05:30:12,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,34415,3617016,07/05/2014 05:44:24,0
1,1,50053211,0.0,NaN,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,NaN,Logboeknr Geeltje : 49 Tijd: 0900,NaN,NaN,624.0,624.0,NaN,NaN,NaN,0.0,0.0,9.0,NaN,MAFS MAFD,NaN,NaN,00/00/0000,02/01/2006 09:00:00,NaN,81S,624.0,624.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,Z,ONR-RIB,133.0,Papieren ontbreken,ONREGRIB,B,Volker,NaN,NaN,02/01/2006 09:00:00,4.0,02/01/2006 09:00:00,NaN,NaN,N,NaN,NaN,0,B,"0,00",NaN,03/01/2006,04:48:18,02/01/2006,09:00:00,NaN,NaN,NaN,624,NaN,81.0,624,S,02/01/2006,09:00:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,NaN,99999999.0,0.0,00/00/0000,00:00:00,02/01/2006,09:00:00,0.0,99999999.0,02/01/2006,09:00:00,NaN,NaN,05/01/2006,J,NaN,N,J,05/01/2009 15:10:09,05/01/2009,15:10:09,02/01/2006 04:48:18,0.0,NaN,NaN,IN0,0000000000,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,50053211.0,NaN,NaN,NaN,NaN,00/00/0000,00:00:00,NaN,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
2,2,50053213,48.0,GN,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-P,NaN,NaN,201.0,201.0,NaN,NaN,NaN,0.0,0.0,9.0,NaN,MAFS,Aan AM toegewezen,0.0,03/01/2006,02/01/2006 12:35:00,NaN,37B,201.0,201.0,NaN,NaN,NaN,NaN,NaN,30200.0,0.0,NaN,NaN,NaN,NaN,Z,ONR-DERD,143.0,NaN,ONREGDER,T,NaN,NaN,NaN,02/01/2006 13:26:00,4.0,02/01/2006 13:26:00,NaN,NaN,N,NaN,NaN,0,NB,"0,00",NaN,03/01/2006,05:50:40,02/01/2006,12:35:00,02/01/2006,12:35:00,NaN,201,NaN,37.0,201,B,02/01/2006,12:35:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,NaN,99999999.0,0.0,00/00/0000,00:00:00,02/01/2006,13:26:00,51.0,99999999.0,02/01/2006,13:26:00,NaN,NaN,10/01/2006,J,1.0,N,J,05/01/2009 15:10:11,05/01/2009,15:10:11,02/01/2006 05:50:40,0.85,NaN,NaN,IN0 H5,0000000000,NaN,schapen op de spoorbaan!,NaN,NaN,0.0,NaN,0.0,NaN,NaN,50053213.0,NaN,NaN,Lp,Apg,00/00/0000,00:00:00,NaN,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
3,3,50053214,72.0,ZL,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-P,NaN,NaN,25.0,25.0,NaN,NaN,NaN,0.0,0.0,9.0,NaN,MAFS MAFD,Aan AM toegewezen,0.0,03/01/2006,02/01/2006 16:40:00,NaN,32B,25.0,25.0,NaN,NaN,NaN,NaN,NaN,14000.0,0.0,NaN,NaN,NaN,NaN,Z,ONR-DERD,142.0,NaN,ONREGDER,T,NaN,NaN,NaN,02/01/2006 17:20:00,4.0,02/01/2006 17:20:00,NaN,NaN,N,NaN,NaN,0,NB,"0,00",NaN,03/01/2006,05:50:41,02/01/2006,16:40:00,02/01/2006,16:40:00,NaN,025,NaN,32.0,025,B,02/01/2006,16:40:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,NaN,99999999.0,0.0,00/00/0000,00:00:00,02/01/2006,17:20:00,40.0,99999999.0,02/01/2006,17:20:00,NaN,NaN,11/01/2006,J,1.0,N,J,05/01/2009 15:10:13,05/01/2009,15:10:13,02/01/2006 05:50:41,0.67,NaN,NaN,IN0 H5,0000000000,NaN,Persoon langs de baan,NaN,NaN,0.0,NaN,0.0,NaN,NaN,50053214.0,NaN,NaN,Hgl,NaN,00/00/0000,00:00:00,NaN,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
4,4,50053215,96.0,ZL,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-P,NaN,NaN,12.0,12.0,NaN,NaN,NaN,0.0,0.0,9.0,NaN,MAFS,Aan AM toegewezen,0.0,03/01/2006,02/01/2006 22:30:00,NaN,35B,12.0,12.0,NaN,NaN,NaN,NaN,NaN,19819.0,0.0,NaN,NaN,NaN,NaN,Z,ONR-DERD,142.0,NaN,ONREGDER,T,NaN,NaN,NaN,02/01/2006 22:36:00,4.0,02/01/2006 22:36:00,NaN,NaN,N,NaN,NaN,0,NB,"0,00",NaN,03/01/2006,05:50:41,02/01/2006,22:30:00,02/01/2006,22:30:00,NaN,012,NaN,35.0,012,B,02/01/2006,22:30:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,00:00:00,99999999.0,NaN,00:00:00,NaN,NaN,99999999.0,0.0,00/00/0000,00:00:00,02/01/2006,22:36:00,6.0,99999999.0,02/01/2006,22:36:00,NaN,NaN,09/01/2006,J,1.0,N,J,05/01/2009 15:10:15,05/01/2009,15:10:15,02/01/2006 05:50:41,0.1,NaN,NaN,IN0 H5,0000000000,NaN,Bijna aanrijding met persoon,NaN,NaN,0.0,NaN,0.0,NaN,NaN,50053215.0,NaN,NaN,Hgv,NaN,00/00/0000,00:00:00,NaN,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0

haalt de data's uithalen dat de Betekenis een vraagteken of nvt staan.

hier zijn wat feature dat we belangrijk vinden:<br>
stm_oorz_code : code van wat de probleem is (weet pas was de aannemer aanwezig is) <br>
stm_sap_melddatum: de datum data melding melding is binnen gekommen <br>
stm_sap_meldtijd : de tijdstip van de melding <br>
stm_geo_mld: geocode waar iets gebuurt is. <br>
stm_sap_meldtijd : de datum dat de aanmener anweizig is （het is binnen 8uur het kan zijn dat dit niet van belang is） <br>
stm_aanntpl_tijd : de tijdmoment dat de aanmener anweizig is <br>
stm_fh_dd : de datum dat de probleem opgelost is <br>
stm_aanntpl_tijd : de tijdmoment dat de probleem opgelost is （het is binnen 8uur het kan zijn dat dit niet van belang is） <br>
stm_techn_mld: Bij welke techniekveld de melding hoort<br>
stm_prioriteit: ?(gekrijgen van docent)<br>
stm_fh_duur: hoelang het duurt van melding tot dat de probleem is opgelost

In [63]:
df2=df[['stm_oorz_code','stm_sap_melddatum','stm_sap_meldtijd','stm_geo_mld','stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_dd','stm_fh_tijd','stm_techn_mld','stm_prioriteit','stm_fh_duur','stm_progfh_in_tijd']]

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898526 entries, 0 to 898525
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   stm_oorz_code       845113 non-null  float64
 1   stm_sap_melddatum   898488 non-null  object
 2   stm_sap_meldtijd    898488 non-null  object
 3   stm_geo_mld         886693 non-null  object
 4   stm_aanntpl_dd      689915 non-null  object
 5   stm_aanntpl_tijd    898488 non-null  object
 6   stm_fh_dd           771259 non-null  object
 7   stm_fh_tijd         898488 non-null  object
 8   stm_techn_mld       664399 non-null  object
 9   stm_prioriteit      898365 non-null  float64
 10  stm_fh_duur         898488 non-null  float64
 11  stm_progfh_in_tijd  898488 non-null  object
dtypes: float64(3), object(9)
memory usage: 82.3+ MB

filter functiehersteltijd met bijhoorde oorzaak code voor de baseline model

# eerste data preperatie

stm_sap_meldtijd, stm_aanntpl_tijd en stm_fh_tijd is een object dat geschikt is voor model
hieronder woordt het omgezet naar welkste minuut het van de dag is als int

In [65]:
df2=df2.dropna(subset='stm_aanntpl_tijd')

In [66]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 898488 entries, 1 to 898525
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   stm_oorz_code       845080 non-null  float64
 1   stm_sap_melddatum   898488 non-null  object
 2   stm_sap_meldtijd    898488 non-null  object
 3   stm_geo_mld         886659 non-null  object
 4   stm_aanntpl_dd      689915 non-null  object
 5   stm_aanntpl_tijd    898488 non-null  object
 6   stm_fh_dd           771259 non-null  object
 7   stm_fh_tijd         898488 non-null  object
 8   stm_techn_mld       664399 non-null  object
 9   stm_prioriteit      898331 non-null  float64
 10  stm_fh_duur         898488 non-null  float64
 11  stm_progfh_in_tijd  898488 non-null  object
dtypes: float64(3), object(9)
memory usage: 89.1+ MB

In [67]:
# naar datetime tpye 
df2['stm_sap_meldtijd'] = pd.to_datetime(df2['stm_sap_meldtijd'], format='%H:%M:%S', errors='coerce')
# verandert het h:min naar totale minuten
df2['stm_sap_meldtijd'] = df2['stm_sap_meldtijd'].apply(lambda x: x.hour*60 + x.minute)

df2['stm_aanntpl_tijd'] = pd.to_datetime(df2['stm_aanntpl_tijd'], format='%H:%M:%S', errors='coerce')
df2['stm_aanntpl_tijd'] = df2['stm_aanntpl_tijd'].apply(lambda x: x.hour*60 + x.minute)

df2['stm_fh_tijd'] = pd.to_datetime(df2['stm_fh_tijd'], format='%H:%M:%S', errors='coerce')
df2['stm_fh_tijd'] = df2['stm_fh_tijd'].apply(lambda x: x.hour*60 + x.minute)

df2['stm_progfh_in_tijd'] = pd.to_datetime(df2['stm_progfh_in_tijd'], format='%H:%M:%S', errors='coerce')
df2['stm_progfh_in_tijd'] = df2['stm_progfh_in_tijd'].apply(lambda x: x.hour*60 + x.minute)

# target

voor de traget neem we de tijd neem de functie hersteltijd van waarneer de aanmener aanweizig is tot dat weer gereiden mogen worden.<br>
we bewaar eerst alle data dat binnen dag is

In [68]:
df2=df2.loc[df2['stm_fh_duur']<1440]

In [69]:
df2['targetherstel'] = np.where(
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd']>= 0, # als de stm_fh_tijd-stm_aanntpl_tijd positief is
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd'], # dan betekende dat nog op de zefde day is, kun je gelijk van elkaar aftrekken
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd']+1440 # als niet op zelfdde dag is hersteld, dus een neagetief uitkomst moet er +1440 om de juiste tijd te krijgen.
)

# data understanding en eerste filtering

in de dataset zijn data dat double voor komen

In [70]:
null = df2.loc[df2['targetherstel']==0,['targetherstel']]
vijftien = df2.loc[ (df2['targetherstel'] >0) & (df2['targetherstel']<=15 ),['targetherstel']]
vijftien_halfuur = df2.loc[ (df2['targetherstel'] >15) & (df2['targetherstel']<=30 ),['targetherstel']]
halfuur_uur = df2.loc[( df2['targetherstel']> 30) & (df2['targetherstel']<=60) ,['targetherstel']]
een_twee_uur = df2.loc[ (df2['targetherstel']>60) & (df2['targetherstel']<=120) ,['targetherstel']]
twee_drie_uur = df2.loc[ (df2['targetherstel']>120) & (df2['targetherstel']<=180) ,['targetherstel']]
drie_zes_uur = df2.loc[ (df2['targetherstel']>180) & (df2['targetherstel']<=360) ,['targetherstel']]
zes_acht_uur = df2.loc[ (df2['targetherstel']>360) & (df2['targetherstel']<=540) ,['targetherstel']]
acht_plus = df2.loc[df2['targetherstel']> 540,['targetherstel']]
acht_plus = df2.loc[df2['targetherstel']> 540,['targetherstel']]
print(f'socre null: {len(null)/len(df2)}')
print(f'socre tot 15m: {len(vijftien)/len(df2)}')
print(f'socre 15m tot 30m: {len(vijftien_halfuur)/len(df2)}')
print(f'socre 30m tot 1h: {len(halfuur_uur)/len(df2)}')
print(f'socre 1h tot 2h: {len(een_twee_uur)/len(df2)}')
print(f'socre 2h tot 3h: {len(twee_drie_uur)/len(df2)}')
print(f'socre 3h tot 6h: {len(drie_zes_uur)/len(df2)}')
print(f'socre 6h tot 8h: {len(zes_acht_uur)/len(df2)}')
print(f'socre 8h+: {len(acht_plus)/len(df2)}')

socre null: 0.2179293306299755
socre tot 15m: 0.21668079347726626
socre 15m tot 30m: 0.12728216217257504
socre 30m tot 1h: 0.15311014577905346
socre 1h tot 2h: 0.12193042866843573
socre 2h tot 3h: 0.04684362102262055
socre 3h tot 6h: 0.047617786296672654
socre 6h tot 8h: 0.014633288865986332
socre 8h+: 0.05397244308741446

we zien dat dat 21% van de meldingen geen probleem zijn dat de spoor op stil staat <br>
21% dat onder de 15 miuten is en 12% tussen 15-30 min <br>
voor meldingen dat de spoor boven de acht uurr stil staan zij er maar 4%

we dorpen data's dat we niet kunnen op getraint kan

filter data's dat stm_fh_duur onder de 15 min en data's boven de 8 uur,het is niet belangrjik in deze project.<br>
we nemen data's van 15min tot 8uur, zo data de model niet telaag gaat onderschaten.

In [71]:
df2 = df2.loc[ (df2['targetherstel']>15) & (df2['targetherstel']<=540)]

# tweede data preperatie en tweede filtering

stm_sap_melddatum is een ook object dat geschikt is voor modellen <br>
hieronder woordt het omgezet naar welkste dag het van de jaar is als int <br>

In [72]:
# naar datetime tpye 
df2['stm_sap_melddatum'] = pd.to_datetime(df2['stm_sap_melddatum'], format='%d/%m/%Y')
# kiijk welkeste dag het van de jaar is
df2['stm_sap_melddatum'] = df2['stm_sap_melddatum'].dt.dayofyear

halt alle doubble data er uit

In [73]:
df2 = df2.drop_duplicates()

halt alle stuaties dat geen aannemer aanweizig waren

In [74]:
df2=df2.loc[df2['stm_aanntpl_tijd']!=0]

# deerde data preperatie

verdeelt de tijd per half uur

In [75]:
# zet alle NaN om in 0 
df2[['stm_sap_meldtijd']]= df2[['stm_sap_meldtijd']].fillna('0')
# zet de type als int
df2['stm_sap_meldtijd']=df2['stm_sap_meldtijd'].astype('int32')

In [76]:
# zet alle NaN om in 0 
df2[['stm_oorz_code']]= df2[['stm_oorz_code']].fillna('0')
# zet de type als int
df2['stm_oorz_code']=df2['stm_oorz_code'].astype('int32')

In [77]:
# zet alle NaN om in 0 
df2['stm_prioriteit']=df2['stm_prioriteit'].fillna('0')
# zet de type als int
df2['stm_prioriteit']=df2['stm_prioriteit'].astype('int32')

voor 'stm_prioriteit' dat 8 of 9 zijn haalt we er uit om dat ze langer dan een dag zult duren

In [78]:
df2=df2.loc[(df2['stm_prioriteit']!=8)&(df2['stm_prioriteit']!=9)]

In [79]:
df2['targetherstel'] = df2['targetherstel'].apply(lambda x: round(x / 10) * 10)

In [80]:
df2.to_csv('newdataset.csv', index=False, encoding='utf-8')

In [82]:
len(df2)/len(df)

0.3100767256595802

# baseline model

we neem 'stm_progfh_in_tijd' en 'stm_aanntpl_tijd' om de voorspelling hersteltijd te bereken.

In [83]:
# zet het data tot welkeste minuut van de dag
df_base = df2[['stm_aanntpl_tijd','targetherstel','stm_progfh_in_tijd']]
df_base = df_base.dropna(subset='stm_progfh_in_tijd')
# hal alle waarde van 0 weg (zijn wat data's dat geen verspelling is gegeven die zijn 0)
df_base = df_base.loc[df_base['stm_progfh_in_tijd']>0]
df_base['stm_progfh_in_tijd'] = df_base['stm_progfh_in_tijd'].astype('int32')

In [84]:
#berken de voorspeling hersteltijd
df_base['hersteltijd'] = np.where(
    df_base['stm_progfh_in_tijd'] - df_base['stm_aanntpl_tijd']>= 0, # als de stm_fh_tijd-stm_aanntpl_tijd positief is
    df_base['stm_progfh_in_tijd'] - df_base['stm_aanntpl_tijd'], # dan betekende dat nog op de zefde day is, kun je gelijk van elkaar aftrekken
    df_base['stm_progfh_in_tijd'] - df_base['stm_aanntpl_tijd']+1440 # als niet op zelfdde dag is hersteld, dus een neagetief uitkomst moet er +24 om de juiste tijd te krijgen.
)

we nemen de voorspelling hersteltijd en berkenen we de RMSE waarde uit

In [85]:
list1=df_base['hersteltijd'].tolist()
list2=df_base['targetherstel'].tolist()
result = [(a - b)**2 for a, b in zip(list1, list2)]
math.sqrt(sum(result)/len(list1))

147.99042664570214

In [86]:
result = [a > b for a, b in zip(list1, list2)]
sum(result)/len(result)

0.6380968340723935

# model

zet de categorische data om in getalen

In [100]:
df3=df2
df3 = pd.concat([df3, pd.get_dummies(df2['stm_oorz_code']).astype(int)], axis=1)
df3 = pd.concat([df3, pd.get_dummies(df2['stm_techn_mld']).astype(int)], axis=1)
df3 = pd.concat([df3, pd.get_dummies(df2['stm_prioriteit']).astype(int)], axis=1)
df3 = pd.concat([df3, pd.get_dummies(df2['stm_geo_mld']).astype(int)], axis=1)

df3 = df3.drop(columns=['stm_oorz_code', 'stm_techn_mld','stm_prioriteit','stm_geo_mld'])

In [101]:
endtest = df3.tail(1000)
df3 = df3.iloc[:-1000]

In [102]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import joblib

verdeel de feature en target

In [103]:
target = df3['targetherstel']
feature = df3.drop(columns=['targetherstel','stm_aanntpl_dd','stm_fh_dd','stm_progfh_in_tijd','stm_fh_duur','stm_fh_tijd','stm_progfh_in_tijd'])
feature.columns = feature.columns.astype(str)

feats_train, feats_test, cat_train, cat_test = train_test_split(feature, target, random_state=42)

train de model

In [104]:
reg = LinearRegression().fit(feats_train, cat_train)

bereken de RMSE waarde van de model

In [105]:
predictions = reg.predict(feats_train)
cat_train.to_list()
result = [(a - b)**2 for a, b in zip(predictions, cat_train)]
math.sqrt(sum(result)/len(result))

79.24666727059513

als we de worste case neem de verspellings tijd van de model plus de RMSE waarde, hoeveel procent van de gevallen is gedekt.

In [106]:
result = [a+84 > b for a, b in zip(predictions, cat_train)]
sum(result)/len(result)

0.8900575863675442

berekende RMSE waarde voor de worst case

In [107]:
result = [(a + 84 - b)**2 for a, b in zip(predictions, cat_train)]
math.sqrt(sum(result)/len(result))

115.48174588215574

In [108]:
target = endtest['targetherstel']
feature = endtest.drop(columns=['targetherstel','stm_aanntpl_dd','stm_fh_dd','stm_progfh_in_tijd','stm_fh_duur','stm_fh_tijd','stm_progfh_in_tijd'])
feature.columns = feature.columns.astype(str)

In [109]:
predictions = reg.predict(feature)
cat_train.to_list()
result = [(a - b)**2 for a, b in zip(predictions, target)]
math.sqrt(sum(result)/len(result))

80.4453826315462

In [110]:
joblib.dump(reg, 'LinearRegressionModel.joblib')

['LinearRegressionModel.joblib']