In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df= pd.read_csv("sap_storing_data_hu_project.csv")

C:\Users\maste\AppData\Local\Temp\ipykernel_25288\778189414.py:1: DtypeWarning: Columns (0,11,19,21,24,25,27,32,33,36,37,38,39,40,46,47,48,49,51,53,55,56,60,73,75,78,80,82,83,86,87,91,95,99,102,103,104,107,108,109,110,111,112,113,116,118,119,120,121,122,123,124,129) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("sap_storing_data_hu_project.csv")

In [3]:
df.head()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_mon_begin_ddt,stm_sap_meldtekst,stm_mon_toelichting_trdl,...,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,2014,07/05/2014 05:30:12,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,34415,3617016,07/05/2014 05:44:24,0
1,1,50053211,0.0,NaN,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,NaN,Logboeknr Geeltje : 49 Tijd: 0900,NaN,...,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
2,2,50053213,48.0,GN,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-P,NaN,...,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
3,3,50053214,72.0,ZL,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-P,NaN,...,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
4,4,50053215,96.0,ZL,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-P,NaN,...,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0

haalt de data's uithalen dat de Betekenis een vraagteken of nvt staan.

In [4]:
df=df[['#stm_sap_meldnr','stm_mon_nr','stm_vl_post','stm_sap_meld_ddt','stm_sap_meldtekst_lang','stm_sap_meldtekst','stm_geo_mld','stm_equipm_nr_mld','stm_equipm_soort_mld','stm_equipm_omschr_mld','stm_km_van_mld',
   'stm_km_tot_mld','stm_prioriteit','stm_aanngeb_ddt','stm_oh_pg_gst','stm_geo_gst','stm_equipm_nr_gst','stm_equipm_soort_gst','stm_equipm_omschr_gst','stm_km_van_gst','stm_km_tot_gst','stm_oorz_groep','stm_oorz_code',
   'stm_oorz_tkst','stm_fh_ddt','stm_fh_status','stm_sap_storeind_ddt','stm_tao_indicator','stm_tao_indicator_vorige','stm_tao_soort_mutatie','stm_tao_telling_mutatie','stm_tao_beinvloedbaar_indicator','stm_sap_melddatum',
   'stm_sap_meldtijd','stm_contractgeb_mld','stm_techn_mld','stm_techn_gst','stm_aanngeb_dd','stm_aanngeb_tijd','stm_aanntpl_dd','stm_aanntpl_tijd','stm_progfh_in_datum','stm_progfh_in_tijd','stm_progfh_in_invoer_dat',
   'stm_progfh_in_invoer_tijd','stm_progfh_in_duur','stm_progfh_gw_tijd','stm_progfh_gw_teller','stm_fh_dd','stm_fh_tijd','stm_fh_duur','stm_sap_storeinddatum','stm_sap_storeindtijd','stm_oorz_tekst_kort',
   'stm_pplg_van','stm_pplg_naar','stm_dstrglp_van','stm_dstrglp_naar']]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898526 entries, 0 to 898525
Data columns (total 58 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   #stm_sap_meldnr                  898526 non-null  int64
 1   stm_mon_nr                       898525 non-null  float64
 2   stm_vl_post                      310499 non-null  object
 3   stm_sap_meld_ddt                 898525 non-null  object
 4   stm_sap_meldtekst_lang           898386 non-null  object
 5   stm_sap_meldtekst                898327 non-null  object
 6   stm_geo_mld                      886693 non-null  object
 7   stm_equipm_nr_mld                661126 non-null  float64
 8   stm_equipm_soort_mld             661123 non-null  object
 9   stm_equipm_omschr_mld            661118 non-null  object
 10  stm_km_van_mld                   898522 non-null  float64
 11  stm_km_tot_mld                   898522 non-null  float64
 12  stm_prioriteit                   898365 non-null  float64
 13  stm_aanngeb_ddt                  864962 non-null  object
 14  stm_oh_pg_gst                    898337 non-null  object
 15  stm_geo_gst                      742324 non-null  object
 16  stm_equipm_nr_gst                605721 non-null  float64
 17  stm_equipm_soort_gst             605711 non-null  object
 18  stm_equipm_omschr_gst            605710 non-null  object
 19  stm_km_van_gst                   898521 non-null  float64
 20  stm_km_tot_gst                   898521 non-null  float64
 21  stm_oorz_groep                   845096 non-null  object
 22  stm_oorz_code                    845113 non-null  float64
 23  stm_oorz_tkst                    796051 non-null  object
 24  stm_fh_ddt                       732891 non-null  object
 25  stm_fh_status                    747318 non-null  float64
 26  stm_sap_storeind_ddt             661095 non-null  object
 27  stm_tao_indicator                897208 non-null  object
 28  stm_tao_indicator_vorige         329841 non-null  object
 29  stm_tao_soort_mutatie            254500 non-null  object
 30  stm_tao_telling_mutatie          898526 non-null  int64
 31  stm_tao_beinvloedbaar_indicator  898526 non-null  object
 32  stm_sap_melddatum                898488 non-null  object
 33  stm_sap_meldtijd                 898488 non-null  object
 34  stm_contractgeb_mld              661017 non-null  float64
 35  stm_techn_mld                    664399 non-null  object
 36  stm_techn_gst                    898303 non-null  object
 37  stm_aanngeb_dd                   864955 non-null  object
 38  stm_aanngeb_tijd                 898488 non-null  object
 39  stm_aanntpl_dd                   689915 non-null  object
 40  stm_aanntpl_tijd                 898488 non-null  object
 41  stm_progfh_in_datum              577250 non-null  object
 42  stm_progfh_in_tijd               898488 non-null  object
 43  stm_progfh_in_invoer_dat         577717 non-null  object
 44  stm_progfh_in_invoer_tijd        898488 non-null  object
 45  stm_progfh_in_duur               898488 non-null  object
 46  stm_progfh_gw_tijd               898488 non-null  object
 47  stm_progfh_gw_teller             898488 non-null  float64
 48  stm_fh_dd                        771259 non-null  object
 49  stm_fh_tijd                      898488 non-null  object
 50  stm_fh_duur                      898488 non-null  float64
 51  stm_sap_storeinddatum            661167 non-null  object
 52  stm_sap_storeindtijd             898488 non-null  object
 53  stm_oorz_tekst_kort              388630 non-null  object
 54  stm_pplg_van                     254749 non-null  object
 55  stm_pplg_naar                    60388 non-null   object
 56  stm_dstrglp_van                  309484 non-null  object
 57  stm_dstrglp_naar                 365760 non-null  object
dtypes: float64(13), int64(2), object(43)
memory usage: 397.6+ MB

In [6]:
df2=df.dropna(subset=['stm_oorz_code'])
df2['stm_oorz_code'] = df2['stm_oorz_code'].astype(int)

C:\Users\maste\AppData\Local\Temp\ipykernel_25288\2611200773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['stm_oorz_code'] = df2['stm_oorz_code'].astype(int)

filter functiehersteltijd met bijhoorde oorzaak code voor de baseline model

In [7]:
df2[['stm_oorz_code','stm_sap_meld_ddt','stm_fh_dd','stm_fh_tijd','stm_fh_duur']]

,stm_oorz_code,stm_sap_meld_ddt,stm_fh_dd,stm_fh_tijd,stm_fh_duur
1,133,02/01/2006 09:00:00,02/01/2006,09:00:00,0.0
2,143,02/01/2006 12:35:00,02/01/2006,13:26:00,51.0
3,142,02/01/2006 16:40:00,02/01/2006,17:20:00,40.0
4,142,02/01/2006 22:30:00,02/01/2006,22:36:00,6.0
5,218,02/01/2006 11:23:00,02/01/2006,11:30:00,7.0
...,...,...,...,...,...
898521,215,11/05/2013 08:06:00,11/05/2013,09:29:00,83.0
898522,218,11/05/2013 09:21:00,11/05/2013,10:44:00,83.0
898523,218,11/05/2013 09:21:00,11/05/2013,10:44:00,83.0
898524,135,20/08/2016 14:15:17,20/08/2016,15:14:00,19.0
898525,143,20/08/2016 14:15:17,20/08/2016,15:14:00,19.0

In [8]:
df2[['stm_oorz_code','stm_sap_meld_ddt','stm_fh_dd','stm_fh_tijd','stm_fh_duur']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 845113 entries, 1 to 898525
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   stm_oorz_code     845113 non-null  int32
 1   stm_sap_meld_ddt  845113 non-null  object
 2   stm_fh_dd         739210 non-null  object
 3   stm_fh_tijd       845080 non-null  object
 4   stm_fh_duur       845080 non-null  float64
dtypes: float64(1), int32(1), object(3)
memory usage: 35.5+ MB

In [9]:
df2 = df2.dropna(subset=['stm_fh_duur'])
df2[['stm_oorz_code','stm_sap_meld_ddt','stm_fh_dd','stm_fh_tijd','stm_fh_duur']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 845080 entries, 1 to 898525
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   stm_oorz_code     845080 non-null  int32
 1   stm_sap_meld_ddt  845080 non-null  object
 2   stm_fh_dd         739210 non-null  object
 3   stm_fh_tijd       845080 non-null  object
 4   stm_fh_duur       845080 non-null  float64
dtypes: float64(1), int32(1), object(3)
memory usage: 35.5+ MB

In [19]:
df_gm=df2.groupby('stm_oorz_code')['stm_fh_duur'].agg(['mean'])
df_value=df_gm['mean'].to_list()
df_key=df2['stm_oorz_code'].unique()

In [20]:
df2=df2.loc[df2['stm_fh_duur'] != 0]

In [21]:
dictionary = dict(zip(df_key, df_value))

In [22]:
cnt=0
        
for index, row in df2.iterrows():
    key = row["stm_oorz_code"]
    value_in_dict = dictionary.get(key, None)
    if value_in_dict is not None:
        if row["stm_fh_duur"] > value_in_dict*0.9 and row["stm_fh_duur"] < value_in_dict*1.1:
            cnt+=1
cnt/len(df2)*100

2.182792610649957

In [31]:
null = df.loc[df['stm_fh_duur']==0,['stm_fh_duur']]
vijftien_halfuur = df2.loc[ (df2['stm_fh_duur'] >0) & (df['stm_fh_duur']<=15 ),['stm_fh_duur']]
vijftien_halfuur = df2.loc[ (df2['stm_fh_duur'] >15) & (df['stm_fh_duur']<=30 ),['stm_fh_duur']]
halfuur_uur = df2.loc[( df2['stm_fh_duur']> 30) & (df['stm_fh_duur']<=60) ,['stm_fh_duur']]
een_twee_uur = df2.loc[ (df2['stm_fh_duur']>60) & (df['stm_fh_duur']<=120) ,['stm_fh_duur']]
twee_drie_uur = df2.loc[ (df2['stm_fh_duur']>120) & (df['stm_fh_duur']<=180) ,['stm_fh_duur']]
drie_uur_plus = df2.loc[df2['stm_fh_duur']> 360,['stm_fh_duur']]
print(f'socre null: {len(null)/len(df)}')
print(f'socre tot 15m: {len(vijftien)/len(df)}')
print(f'socre 15m tot 30m: {len(vijftien_halfuur)/len(df)}')
print(f'socre 30m tot 1h: {len(halfuur_uur)/len(df)}')
print(f'socre 1h tot 2h: {len(een_twee_uur)/len(df)}')
print(f'socre 2h tot 3h: {len(twee_drie_uur)/len(df)}')
print(f'socre 3h+: {len(drie_uur_plus)/len(df)}')

socre null: 0.19110521008852277
socre tot 15m: 0.07387098425643776
socre 15m tot 30m: 0.0454555572125904
socre 30m tot 1h: 0.10079841874358672
socre 1h tot 2h: 0.17599824601625327
socre 2h tot 3h: 0.08994063610847099
socre 3h+: 0.19959912122743248

In [14]:
list=[]
def percentage_deviation(value, reference):
    return ((value - reference) / reference) * 100

for index, row in df2.iterrows():
    key = row["stm_oorz_code"]
    value_in_dict = dictionary.get(key, None)
    
    if value_in_dict is not None:
        deviation = percentage_deviation(value_in_dict,row["stm_fh_duur"])
        list.append(abs(deviation))
np.mean(list)

1819.4065774735623

In [15]:
deviation_list = []

def squared_deviation(value, reference):
    return (value - reference) ** 2

for index, row in df2.iterrows():
    key = row["stm_oorz_code"]
    value_in_dict = dictionary.get(key, None)
    
    if value_in_dict is not None:
        # Computing the squared deviation
        deviation = squared_deviation(value_in_dict, row["stm_fh_duur"])
        deviation_list.append(deviation)

rmse = math.sqrt(np.mean(deviation_list))

In [16]:
rmse

6666.714774047971