In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [34]:
df= pd.read_csv("sap_storing_data_hu_project.csv")

C:\Users\maste\AppData\Local\Temp\ipykernel_26836\778189414.py:1: DtypeWarning: Columns (0,11,19,21,24,25,27,32,33,36,37,38,39,40,46,47,48,49,51,53,55,56,60,73,75,78,80,82,83,86,87,91,95,99,102,103,104,107,108,109,110,111,112,113,116,118,119,120,121,122,123,124,129) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("sap_storing_data_hu_project.csv")

In [35]:
df.head()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_mon_begin_ddt,stm_sap_meldtekst,stm_mon_toelichting_trdl,...,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,2014,07/05/2014 05:30:12,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,34415,3617016,07/05/2014 05:44:24,0
1,1,50053211,0.0,NaN,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,NaN,Logboeknr Geeltje : 49 Tijd: 0900,NaN,...,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
2,2,50053213,48.0,GN,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-P,NaN,...,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
3,3,50053214,72.0,ZL,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-P,NaN,...,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
4,4,50053215,96.0,ZL,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-P,NaN,...,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0

haalt de data's uithalen dat de Betekenis een vraagteken of nvt staan.

In [219]:
df=df[['#stm_sap_meldnr','stm_mon_nr','stm_vl_post','stm_sap_meld_ddt','stm_sap_meldtekst_lang','stm_sap_meldtekst','stm_geo_mld','stm_equipm_nr_mld','stm_equipm_soort_mld','stm_equipm_omschr_mld','stm_km_van_mld',
   'stm_km_tot_mld','stm_prioriteit','stm_aanngeb_ddt','stm_oh_pg_gst','stm_geo_gst','stm_equipm_nr_gst','stm_equipm_soort_gst','stm_equipm_omschr_gst','stm_km_van_gst','stm_km_tot_gst','stm_oorz_groep','stm_oorz_code',
   'stm_oorz_tkst','stm_fh_ddt','stm_fh_status','stm_sap_storeind_ddt','stm_tao_indicator','stm_tao_indicator_vorige','stm_tao_soort_mutatie','stm_tao_telling_mutatie','stm_tao_beinvloedbaar_indicator','stm_sap_melddatum',
   'stm_sap_meldtijd','stm_contractgeb_mld','stm_techn_mld','stm_techn_gst','stm_aanngeb_dd','stm_aanngeb_tijd','stm_aanntpl_dd','stm_aanntpl_tijd','stm_progfh_in_datum','stm_progfh_in_tijd','stm_progfh_in_invoer_dat',
   'stm_progfh_in_invoer_tijd','stm_progfh_in_duur','stm_progfh_gw_tijd','stm_progfh_gw_teller','stm_fh_dd','stm_fh_tijd','stm_fh_duur','stm_sap_storeinddatum','stm_sap_storeindtijd','stm_oorz_tekst_kort',
   'stm_pplg_van','stm_pplg_naar','stm_dstrglp_van','stm_dstrglp_naar']]

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898526 entries, 0 to 898525
Data columns (total 58 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   #stm_sap_meldnr                  898526 non-null  int64
 1   stm_mon_nr                       898525 non-null  float64
 2   stm_vl_post                      310499 non-null  object
 3   stm_sap_meld_ddt                 898525 non-null  object
 4   stm_sap_meldtekst_lang           898386 non-null  object
 5   stm_sap_meldtekst                898327 non-null  object
 6   stm_geo_mld                      886693 non-null  object
 7   stm_equipm_nr_mld                661126 non-null  float64
 8   stm_equipm_soort_mld             661123 non-null  object
 9   stm_equipm_omschr_mld            661118 non-null  object
 10  stm_km_van_mld                   898522 non-null  float64
 11  stm_km_tot_mld                   898522 non-null  float64
 12  stm_prioriteit                   898365 non-null  float64
 13  stm_aanngeb_ddt                  864962 non-null  object
 14  stm_oh_pg_gst                    898337 non-null  object
 15  stm_geo_gst                      742324 non-null  object
 16  stm_equipm_nr_gst                605721 non-null  float64
 17  stm_equipm_soort_gst             605711 non-null  object
 18  stm_equipm_omschr_gst            605710 non-null  object
 19  stm_km_van_gst                   898521 non-null  float64
 20  stm_km_tot_gst                   898521 non-null  float64
 21  stm_oorz_groep                   845096 non-null  object
 22  stm_oorz_code                    845113 non-null  float64
 23  stm_oorz_tkst                    796051 non-null  object
 24  stm_fh_ddt                       732891 non-null  object
 25  stm_fh_status                    747318 non-null  float64
 26  stm_sap_storeind_ddt             661095 non-null  object
 27  stm_tao_indicator                897208 non-null  object
 28  stm_tao_indicator_vorige         329841 non-null  object
 29  stm_tao_soort_mutatie            254500 non-null  object
 30  stm_tao_telling_mutatie          898526 non-null  int64
 31  stm_tao_beinvloedbaar_indicator  898526 non-null  object
 32  stm_sap_melddatum                898488 non-null  object
 33  stm_sap_meldtijd                 898488 non-null  object
 34  stm_contractgeb_mld              661017 non-null  float64
 35  stm_techn_mld                    664399 non-null  object
 36  stm_techn_gst                    898303 non-null  object
 37  stm_aanngeb_dd                   864955 non-null  object
 38  stm_aanngeb_tijd                 898488 non-null  object
 39  stm_aanntpl_dd                   689915 non-null  object
 40  stm_aanntpl_tijd                 898488 non-null  object
 41  stm_progfh_in_datum              577250 non-null  object
 42  stm_progfh_in_tijd               898488 non-null  object
 43  stm_progfh_in_invoer_dat         577717 non-null  object
 44  stm_progfh_in_invoer_tijd        898488 non-null  object
 45  stm_progfh_in_duur               898488 non-null  object
 46  stm_progfh_gw_tijd               898488 non-null  object
 47  stm_progfh_gw_teller             898488 non-null  float64
 48  stm_fh_dd                        771259 non-null  object
 49  stm_fh_tijd                      898488 non-null  object
 50  stm_fh_duur                      898488 non-null  float64
 51  stm_sap_storeinddatum            661167 non-null  object
 52  stm_sap_storeindtijd             898488 non-null  object
 53  stm_oorz_tekst_kort              388630 non-null  object
 54  stm_pplg_van                     254749 non-null  object
 55  stm_pplg_naar                    60388 non-null   object
 56  stm_dstrglp_van                  309484 non-null  object
 57  stm_dstrglp_naar                 365760 non-null  object
dtypes: float64(13), int64(2), object(43)
memory usage: 397.6+ MB

filter functiehersteltijd met bijhoorde oorzaak code voor de baseline model

# data understanding en eerste filtering

In [221]:
null = df.loc[df['stm_fh_duur']==0,['stm_fh_duur']]
vijftien = df.loc[ (df['stm_fh_duur'] >0) & (df['stm_fh_duur']<=15 ),['stm_fh_duur']]
vijftien_halfuur = df.loc[ (df['stm_fh_duur'] >15) & (df['stm_fh_duur']<=30 ),['stm_fh_duur']]
halfuur_uur = df.loc[( df['stm_fh_duur']> 30) & (df['stm_fh_duur']<=60) ,['stm_fh_duur']]
een_twee_uur = df.loc[ (df['stm_fh_duur']>60) & (df['stm_fh_duur']<=120) ,['stm_fh_duur']]
twee_drie_uur = df.loc[ (df['stm_fh_duur']>120) & (df['stm_fh_duur']<=180) ,['stm_fh_duur']]
drie_zes_uur = df.loc[ (df['stm_fh_duur']>180) & (df['stm_fh_duur']<=360) ,['stm_fh_duur']]
zes_acht_uur = df.loc[ (df['stm_fh_duur']>360) & (df['stm_fh_duur']<=540) ,['stm_fh_duur']]
acht_plus = df.loc[df['stm_fh_duur']> 540,['stm_fh_duur']]
acht_plus = df.loc[df['stm_fh_duur']> 540,['stm_fh_duur']]
print(f'socre null: {len(null)/len(df)}')
print(f'socre tot 15m: {len(vijftien)/len(df)}')
print(f'socre 15m tot 30m: {len(vijftien_halfuur)/len(df)}')
print(f'socre 30m tot 1h: {len(halfuur_uur)/len(df)}')
print(f'socre 1h tot 2h: {len(een_twee_uur)/len(df)}')
print(f'socre 2h tot 3h: {len(twee_drie_uur)/len(df)}')
print(f'socre 3h tot 6h: {len(drie_zes_uur)/len(df)}')
print(f'socre 6h tot 8h: {len(zes_acht_uur)/len(df)}')
print(f'socre 8h+: {len(acht_plus)/len(df)}')

socre null: 0.19110521008852277
socre tot 15m: 0.07725207729102998
socre 15m tot 30m: 0.04694688857083713
socre 30m tot 1h: 0.10298533375773211
socre 1h tot 2h: 0.17923465765041857
socre 2h tot 3h: 0.09187491513879398
socre 3h tot 6h: 0.10379666253397231
socre 6h tot 8h: 0.035442491369198
socre 8h+: 0.17131947211321655

we zien dat dat 19% van de meldingen geen probleem zijn dat de spoor op stil staat <br>
8% dat onder de 15 miuten is en 4% tussen 15-30 min <br>
voor meldingen dat de spoor boven de acht uurr stil staan zij er maar 17%

In [222]:
len(df.loc[df['stm_fh_duur']> 1440,['stm_fh_duur']])/len(df)

0.07553482036134736

7.5% van alle data is het spoor boven een dag stilgestaan

we dorpen data's dat we niet kunnen op getraint kan

In [223]:
df2 = df.dropna(subset=['stm_fh_duur'])

filter data's dat stm_fh_duur onder de 15 min en data's boven de 8 uur,het is niet belangrjik in deze project.<br>
we nemen data's van 15min tot 8uur, zo data de model niet telaag gaat onderschaten.

In [224]:
df2 = df2.loc[ (df['stm_fh_duur']>15) & (df['stm_fh_duur']<=540)]

we hebben nog 65% data over voor de model

In [225]:
len(df2)/len(df)

0.560280949020952

hier zijn wat feature dat we belangrijk vinden:<br>
stm_oorz_code : code van wat de probleem is (weet pas was de aannemer aanwezig is) <br>
stm_sap_melddatum: de datum data melding melding is binnen gekommen <br>
stm_sap_meldtijd : de tijdstip van de melding <br>
stm_geo_mld: geocode waar iets gebuurt is. <br>
stm_sap_meldtijd : de datum dat de aanmener anweizig is ï¼ˆhet is binnen 8uur het kan zijn dat dit niet van belang isï¼‰ <br>
stm_aanntpl_tijd : de tijdmoment dat de aanmener anweizig is <br>
stm_fh_dd : de datum dat de probleem opgelost is <br>
stm_aanntpl_tijd : de tijdmoment dat de probleem opgelost is ï¼ˆhet is binnen 8uur het kan zijn dat dit niet van belang isï¼‰ <br>
stm_techn_mld: ? (gekrijgen van docent)<br>
stm_prioriteit: ?(gekrijgen van docent)<br>
stm_fh_duur: hoelang het duurt van melding tot dat de probleem is opgelost

In [226]:
df2=df2[['stm_oorz_code','stm_sap_melddatum','stm_sap_meldtijd','stm_geo_mld','stm_aanntpl_dd','stm_aanntpl_tijd','stm_fh_dd','stm_fh_tijd','stm_techn_mld','stm_prioriteit','stm_fh_duur']]

In [227]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503427 entries, 2 to 898525
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   stm_oorz_code      492032 non-null  float64
 1   stm_sap_melddatum  503427 non-null  object
 2   stm_sap_meldtijd   503427 non-null  object
 3   stm_geo_mld        502990 non-null  object
 4   stm_aanntpl_dd     478873 non-null  object
 5   stm_aanntpl_tijd   503427 non-null  object
 6   stm_fh_dd          502831 non-null  object
 7   stm_fh_tijd        503427 non-null  object
 8   stm_techn_mld      419198 non-null  object
 9   stm_prioriteit     503379 non-null  float64
 10  stm_fh_duur        503427 non-null  float64
dtypes: float64(3), object(8)
memory usage: 46.1+ MB

# eerste data preperatie

In [228]:
df2[['stm_sap_meldtijd','stm_aanntpl_tijd','stm_fh_tijd']]

       stm_sap_meldtijd stm_aanntpl_tijd stm_fh_tijd
2              12:35:00         00:00:00    13:26:00
3              16:40:00         00:00:00    17:20:00
8              14:18:00         00:00:00    14:48:00
11             10:45:00         00:00:00    11:14:00
13             19:18:00         00:00:00    19:42:00
...                 ...              ...         ...
898521         08:06:00         09:05:00    09:29:00
898522         09:21:00         10:08:00    10:44:00
898523         09:21:00         10:08:00    10:44:00
898524         14:15:17         14:45:00    15:14:00
898525         14:15:17         14:45:00    15:14:00

[503427 rows x 3 columns]

stm_sap_meldtijd, stm_aanntpl_tijd en stm_fh_tijd is een object dat geschikt is voor model <br>
hieronder woordt het omgezet naar welkste minuut het van de dag is als int

In [229]:
# naar datetime tpye 
df2['stm_sap_meldtijd'] = pd.to_datetime(df2['stm_sap_meldtijd'], format='%H:%M:%S', errors='coerce')
# verandert het h:min naar totale minuten
df2['stm_sap_meldtijd'] = df2['stm_sap_meldtijd'].apply(lambda x: x.hour*60 + x.minute)

df2['stm_aanntpl_tijd'] = pd.to_datetime(df2['stm_aanntpl_tijd'], format='%H:%M:%S', errors='coerce')
df2['stm_aanntpl_tijd'] = df2['stm_aanntpl_tijd'].apply(lambda x: x.hour*60 + x.minute)

df2['stm_fh_tijd'] = pd.to_datetime(df2['stm_fh_tijd'], format='%H:%M:%S', errors='coerce')
df2['stm_fh_tijd'] = df2['stm_fh_tijd'].apply(lambda x: x.hour*60 + x.minute)

In [230]:
df2=df2.loc[df2['stm_aanntpl_tijd']!=0]

In [231]:
df2

,stm_oorz_code,stm_sap_melddatum,stm_sap_meldtijd,stm_geo_mld,stm_aanntpl_dd,stm_aanntpl_tijd,stm_fh_dd,stm_fh_tijd,stm_techn_mld,stm_prioriteit,stm_fh_duur
32099,299.0,12/06/2012,1250.0,104.0,13/06/2012,305,13/06/2012,345,NaN,9.0,43.0
73476,299.0,10/05/2015,1209.0,127.0,13/05/2015,900,13/05/2015,901,S,9.0,24.0
73477,299.0,10/05/2015,1209.0,127.0,13/05/2015,900,13/05/2015,901,B,9.0,24.0
86470,133.0,17/03/2016,958.0,586.0,15/02/2016,418,15/02/2016,647,NaN,9.0,232.0
86471,133.0,17/03/2016,958.0,586.0,15/02/2016,418,15/02/2016,647,NaN,9.0,232.0
...,...,...,...,...,...,...,...,...,...,...,...
898521,215.0,11/05/2013,486.0,560.0,11/05/2013,545,11/05/2013,569,NaN,5.0,83.0
898522,218.0,11/05/2013,561.0,468.0,11/05/2013,608,11/05/2013,644,S,2.0,83.0
898523,218.0,11/05/2013,561.0,468.0,11/05/2013,608,11/05/2013,644,S,2.0,83.0
898524,135.0,20/08/2016,855.0,102.0,20/08/2016,885,20/08/2016,914,NaN,2.0,19.0
898525,143.0,20/08/2016,855.0,102.0,20/08/2016,885,20/08/2016,914,NaN,2.0,19.0

stm_sap_melddatum is een ook object dat geschikt is voor modellen <br>
hieronder woordt het omgezet naar welkste dag het van de jaar is als int <br>

In [232]:
# naar datetime tpye 
df2['stm_sap_melddatum'] = pd.to_datetime(df2['stm_sap_melddatum'], format='%d/%m/%Y')
# kiijk welkeste dag het van de jaar is
df2['stm_sap_melddatum'] = df2['stm_sap_melddatum'].dt.dayofyear

# target

voor de traget neem we de tijd neem de functie hersteltijd van waarneer de aanmener aanweizig is tot dat weer gereiden mogen worden.<br>
voor de dat stm_sap_meldtijd 0 is neem we stm_fh_tijd

In [234]:
df2['targetherstel'] = np.where(
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd']>= 0, # als de stm_fh_tijd-stm_aanntpl_tijd positief is
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd'], # dan betekende dat nog op de zefde day is, kun je gelijk van elkaar aftrekken
    df2['stm_fh_tijd'] - df2['stm_aanntpl_tijd']+24 # als niet op zelfdde dag is hersteld, dus een neagetief uitkomst moet er +24 om de juiste tijd te krijgen.
)

In [235]:
df2[['targetherstel']]

        targetherstel
32099              40
73476               1
73477               1
86470             229
86471             229
...               ...
898521             24
898522             36
898523             36
898524             29
898525             29

[478366 rows x 1 columns]

# baseline model

we nemen hier de gemiddelde hersteltijd van alle stm_oorz_code als onze voorspelling, we neem 10% marge als de werkelijk waarde in de marge zit dan reken we het als goed.
(waarneem voor deze baseline model dat altijd de oorzaakcode bekend is)

In [191]:
# om het gebruik maakt zet maken voor de balk code onder deze balk
# is hier een dict gevormt met de oorzaakcode als key en gemiddelde hersteltijd als value
df_gm=df2.groupby('stm_oorz_code')['targetherstel'].agg(['mean'])# sorten bij stm_oorz_code waar targetherstel gemiddelde word genomen
df_value=df_gm['mean'].to_list() #zet alle gemidde hersteltijd als value in een list
df_key=df2['stm_oorz_code'].unique()  #zet alle oorzaakcode als value in een list (elk oorzaakcode komt niet tweekeer voor)
dictionary = dict(zip(df_key, df_value)) # met zip zet we om in tot een dict

In [192]:
cnt=0
        
for index, row in df.iterrows(): #lopen door de data
    key = row["stm_oorz_code"] # kijk wat de huidig oorzaakcode is
    value_in_dict = dictionary.get(key, None) # zoek de gemiddelde functie hersteltijd op van deze oorzaakcode op
    if value_in_dict is not None:
        if row["stm_fh_duur"] > value_in_dict*0.9 and row["stm_fh_duur"] < value_in_dict*1.1: # als werlkelijk waarde tussen de 10% marge van de gemiddelde hersteltijd is
            cnt+=1 # dan tel als een goed
cnt/(len(df2) - df2['stm_oorz_code'].isna().sum() )*100 #het score in precentage goed is: de totaal goed dellen door de de totale lengte van de data dat een oorzaakcode heeft.

2.5753103761434213

# model

In [236]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [237]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 478366 entries, 32099 to 898525
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   stm_oorz_code      471283 non-null  float64
 1   stm_sap_melddatum  478366 non-null  int32
 2   stm_sap_meldtijd   478323 non-null  float64
 3   stm_geo_mld        478362 non-null  object
 4   stm_aanntpl_dd     478358 non-null  object
 5   stm_aanntpl_tijd   478366 non-null  int64
 6   stm_fh_dd          478361 non-null  object
 7   stm_fh_tijd        478366 non-null  int64
 8   stm_techn_mld      403173 non-null  object
 9   stm_prioriteit     478366 non-null  float64
 10  stm_fh_duur        478366 non-null  float64
 11  targetherstel      478366 non-null  int64
dtypes: float64(4), int32(1), int64(3), object(4)
memory usage: 45.6+ MB

In [238]:
df2['stm_sap_meldtijd']=df2['stm_sap_meldtijd'].fillna('0')

In [239]:
df2[['stm_techn_mld']]=df2[['stm_techn_mld']].fillna('0')
unique_values = df2['stm_techn_mld'].unique()
techn_mld_dict = {key: index + 1 for index, key in enumerate(unique_values)}
df2['stm_techn_mld'] = df2['stm_techn_mld'].apply(lambda x: techn_mld_dict[x])

In [240]:
df2[['stm_geo_mld']]=df2[['stm_geo_mld']].fillna('0')
unique_values = df2['stm_geo_mld'].unique()
stm_geo_mld_dict = {key: index + 1 for index, key in enumerate(unique_values)}
df2['stm_geo_mld'] = df2['stm_geo_mld'].apply(lambda x: stm_geo_mld_dict[x])

In [241]:
df2[['stm_oorz_code']]= df2[['stm_oorz_code']].fillna('0')
df2['stm_oorz_code']=df2['stm_oorz_code'].astype('int32')

In [242]:
df2['stm_prioriteit']=df2['stm_prioriteit'].fillna('0')
df2['stm_prioriteit']=df2['stm_prioriteit'].astype('int32')

In [243]:
df2['targetherstel'] = df2['targetherstel'].apply(lambda x: round(x / 10) * 10)

In [244]:
feature = df2[['stm_oorz_code','stm_sap_melddatum','stm_geo_mld','stm_sap_meldtijd','stm_aanntpl_tijd','stm_techn_mld','stm_prioriteit']]
target = df2['targetherstel']
feats_train, feats_test, cat_train, cat_test = train_test_split(feature, target, random_state=10)

In [245]:
target

32099      40
73476       0
73477       0
86470     230
86471     230
         ...
898521     20
898522     40
898523     40
898524     30
898525     30
Name: targetherstel, Length: 478366, dtype: int64

In [246]:
model_Tree = DecisionTreeClassifier(max_depth=50)
model_Tree.fit(feats_train, cat_train)

DecisionTreeClassifier(max_depth=50)

In [247]:
model_Tree.score(feats_test, cat_test)

0.5262810221419493

In [248]:
X_new = df2.iloc[[-1]]
X_new =X_new[['stm_oorz_code','stm_sap_melddatum','stm_geo_mld','stm_sap_meldtijd','stm_aanntpl_tijd','stm_techn_mld','stm_prioriteit']]
X_new =X_new[['stm_oorz_code','stm_sap_melddatum','stm_geo_mld','stm_sap_meldtijd','stm_aanntpl_tijd','stm_techn_mld','stm_prioriteit']]

In [249]:
predictions = model_Tree.predict(X_new)
print(predictions)

[30]

In [250]:
df2.iloc[[ -1]]

,stm_oorz_code,stm_sap_melddatum,stm_sap_meldtijd,stm_geo_mld,stm_aanntpl_dd,stm_aanntpl_tijd,stm_fh_dd,stm_fh_tijd,stm_techn_mld,stm_prioriteit,stm_fh_duur,targetherstel
898525,143,233,855.0,175,20/08/2016,885,20/08/2016,914,1,2,19.0,30